@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Simple HTML Table</h2>
    <table>
        <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>30</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td>25</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sam Brown</td>
                <td>22</td>
            </tr>
        </tbody>
    </table>
</div>